* {
    border: 1px black solid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: maroon;

    display: flex;

    padding: 20px;
    
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: flex;
    width: 400px;
    height: 30px;

    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
}

nav div {
    display: flex;
    text-align: center;
    width: 100px;
    border-radius: 10px;

    align-items: center;
    justify-content: center;
}

nav a:hover {
    color: grey;
}

main {
    padding: 20px;
}

body {
    background: #f4f6f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container {
    display: flex;
    flex-direction: column;

    gap: 20px
}

.info-card {
    display: flex;
    flex-direction: column;
    width: 770px;
    height: 190px;
    padding: 10px;

    border-radius: 10px;

    background: maroon;
    color: white;

    padding-top: 90px;
}

.action-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height:80px;
}

h1 {
    font-size: 50px;
    color: white;
}

p {
    color: whitesmoke;
    font-size: 0.8rem;
    font-style: italic;
}

button {
    cursor: pointer;

    background: grey;
    border-radius: 10px;
    font-weight: bold;
    width: 200px;
    height: 40px;
}

button:hover {
    background: darkgrey;
}

.inv-button {
    cursor: pointer;
    color: maroon;
    background: white;

    text-align: center;
    
    justify-content: center;
    align-items: center;

    user-select: none;
}

.inv-button:hover {

    transform: scale(1.10);
}

.inv-button:active {
    transform: scale(0.95);
}