<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile • To-Do List</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='profile-style.css') }}">
    <script defer src="{{ url_for('static', filename='profile-script.js') }}"></script>
    <script defer src="{{ url_for('static', filename='logout-script.js') }}"></script>
</head>
<body>
    <header>
        <nav>
            <div><a href="{{ url_for('to_do_page') }}">Home</a></div>
            <div><a href="{{ url_for('collab_page') }}">Collaboration</a></div>
            <div><a href="{{ url_for('profile_page') }}">Profile</a></div>
            <div class="inv-button" id="logout">Logout</div>
        </nav>
    </header>
    <main>
        <div class="profile-container">
        <div class="info-card">
            <h1></h1>
            <p id="user-id"></p>
            <p id="created-at"></p>
        </div>
        <div class="action-card">
            <button>Edit Account</button>
        </div>
    </div>
    </main>
    
</body>
</html>
