<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='profile-style.css') }}">
    <script defer src="{{ url_for('static', filename='profile-script.js') }}"></script>
</head>
<body>
    <div class="profile-container">
        <div class="info-card">
            <h1></h1>
            <p id="created-at"></p>
        </div>
        <div class="action-card">
            <button>Edit Account</button>
            <button id="logout">Logout</button>
        </div>
    </div>
</body>
</html>
